name: CI

on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
  push:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        include:
          - env: legacy
            ghc: 8.4.4
          - env: maintenance
            ghc: 8.10.7
          - env: stable
            ghc: 9.6.6
          - env: latest
            ghc: 9.10.3
      fail-fast: false
    runs-on: ubuntu-latest
    name: GHC ${{ matrix.ghc }} (${{ matrix.env }})
    steps:
      - uses: actions/checkout@v4
      - uses: nalchevanidze/hwm/actions/ghc@v0.0.5
        with:
          ghc: ${{ matrix.ghc }}

      - name: Sync environment
        run: hwm sync ${{ matrix.env }}

      - name: Install dependencies
        run: stack build --fast --skip-ghc-check --no-terminal --test --only-dependencies

      - name: Build
        run: stack build --fast

      - name: Build Bench and Haddock
        run: stack build --fast --no-run-benchmarks --haddock --no-haddock-deps

      - name: Test
        run: stack test --fast

      - name: Test Code Gen
        run: |
          stack install --fast morpheus-graphql-code-gen
          morpheus check

  style:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: lint
        run: hwm lint

      - name: format
        run: hwm format

  artifacts:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
    name: Artifact ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: nalchevanidze/hwm/actions/ghc@v0.0.5

      - name: Binary
        uses: nalchevanidze/hwm/actions/pkg@v0.0.5
        with:
          package: morpheus-graphql-code-gen
          executable: morpheus
          smoke_test: about

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true
