name: Haskell CI

on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
  push:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        ghc: ["8.4.4", "8.6.5", "8.8.3", "8.10.7", "9.0.2", "9.10.3"]
      fail-fast: false
    runs-on: ubuntu-latest
    name: GHC ${{ matrix.ghc}}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/ghc
        with:
          ghc: ${{ matrix.ghc }}
      - uses: ./.github/actions/hconf
      - run: hconf setup ${{ matrix.ghc }}

      - name: Install dependencies
        run: stack build --fast --skip-ghc-check --no-terminal --test --only-dependencies

      - name: Build
        run: stack build --fast

      - name: Build Bench and Haddock
        run: stack build --fast --no-run-benchmarks --haddock --no-haddock-deps

      - name: Test
        run: stack test --fast

      - name: Test Code Gen
        run: |
          stack install --fast morpheus-graphql-code-gen
          morpheus check

  hlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Lint
        run: curl -sSL https://raw.github.com/ndmitchell/hlint/master/misc/run.sh | sh -s .

  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/hconf
      - name: Format
        run: hconf format --check

  artifacts:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
    name: Artifact ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/ghc

      - name: Pack
        shell: bash
        run: sh ./scripts/pack.sh

      - name: Test Binary
        shell: bash
        run: sh ./scripts/test.sh

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true
