name: Deploy

# on:
#   release:
#     types:
#       - created

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup-env

      - name: Build Packages
        run: |
          stack test --fast --bench --no-run-benchmarks --haddock --no-haddock-deps

      - name: Prepare Packages
        run: |
          stack sdist

      - name: Upload Core Package
        uses: ./.github/actions/upload-pkg
        with:
          name: core

      # - name: Upload Packages
      #   run: |
      #     stack upload morpheus-graphql-tests
      #     stack upload morpheus-graphql-core
      #     stack upload morpheus-graphql-code-gen
      #     stack upload morpheus-graphql-app
      #     stack upload morpheus-graphql-client
      #     stack upload morpheus-graphql-subscriptions
      #     stack upload morpheus-graphql
      #   env:
      #     HACKAGE_USERNAME: ${{ secrets.HACKAGE_USERNAME }}
      #     HACKAGE_PASSWORD: ${{ secrets.HACKAGE_PASSWORD }}
