name: Draft Release
on: workflow_dispatch

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  draft-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 0
      - uses: ./.github/actions/ghc
      - uses: ./.github/actions/hconf
      - uses: actions/setup-node@v6
      - name: Install NPM
        shell: bash
        run: npm i

      - name: Draft Release
        run: npx releasy open
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
