name: Draft Release
on: workflow_dispatch

permissions:
  contents: write
  pull-requests: write

jobs:
  draft-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 0

      - uses: ./.github/actions/ghc
      - uses: nalchevanidze/hconf/actions/install@main

      - name: Draft Release
        uses: nalchevanidze/relasy/actions/draft-release@0.1.10
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
