name: Draft Release
on: workflow_dispatch

permissions:
  contents: write
  pull-requests: write

jobs:
  draft-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 0

      - uses: nalchevanidze/hwm/actions/ghc@v0.0.5

      - name: Draft Release PR (compute version + commit bump + changelog + open PR)
        uses: nalchevanidze/relasy/actions/draft-release@v1.1.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
