name: Haskell CI

on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
  push:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        ghc: ["8.4.4", "8.6.5", "8.8.3", "8.10.7", "9.0.2", "latest"]
        os: [ubuntu-latest]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    name: GHC ${{ matrix.ghc}} (${{ matrix.os }})
    steps:
      - uses: actions/checkout@v2

      - name: Setup
        uses: ./.github/actions/setup-hs
        with:
          ghc: ${{ matrix.ghc }}

      - name: Install dependencies
        run: stack build --fast --skip-ghc-check --no-terminal --test --only-dependencies

      - name: Build
        run: stack build --fast

      - name: Build Bench and Haddock
        run: stack build --fast --no-run-benchmarks --haddock --no-haddock-deps

      - name: Test
        run: stack test --fast

      - name: Test Code Gen
        run: |
          stack install --fast morpheus-graphql-code-gen
          npm run code-gen:check

  hlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: lint
        run: curl -sSL https://raw.github.com/ndmitchell/hlint/master/misc/run.sh | sh -s .

  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: mrkkrp/ormolu-action@v7
        with:
          pattern: morpheus-graphql*/**/*.hs

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true
