name: Publish Release

on:
  pull_request:
    types: [closed]

permissions:
  contents: write
  pull-requests: read

jobs:
  publish_release:
    if: ${{ github.base_ref == 'main' && startsWith(github.head_ref, 'release-') && github.event.pull_request.merged == true }}
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.publish.outputs.upload_url }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup

      - name: Upload Packages
        run: hwm publish libs
        env:
          HACKAGE_USERNAME: ${{ secrets.HACKAGE_USERNAME }}
          HACKAGE_PASSWORD: ${{ secrets.HACKAGE_PASSWORD }}

      - name: Show sdist.log
        if: always()
        run: |
          if [ -f .hwm/logs/sdist.log ]; then
            echo "::group::.hwm/logs/sdist.log"
            cat .hwm/logs/sdist.log
            echo "::endgroup::"
          else
            echo "No .hwm/logs/sdist.log found"
          fi

      - name: Publish GitHub Release (from merged release PR)
        uses: nalchevanidze/relasy/actions/publish-release@v1.1.1
        id: publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  upload_artifact:
    needs: publish_release
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            target: linux
          - os: macos-latest
            target: mac-os
          - os: windows-latest
            target: windows

    name: Upload Artifact ${{ matrix.target }}
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup

      - name: Upload Executable Binary
        uses: nalchevanidze/hwm/actions/pkg@v0.0.5
        with:
          package: morpheus-graphql-code-gen
          executable: morpheus
          smoke_test: about
          upload_url: ${{ needs.publish_release.outputs.upload_url }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
