name: Publish Release

on:
  pull_request:
    types: [closed]

jobs:
  publish_release:
    if: ${{ github.base_ref == 'main' && startsWith(github.head_ref, 'release-') && github.event.pull_request.merged == true  }}
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.publish.outputs.upload_url }}
    steps:
      - uses: actions/checkout@v4
      - uses: nalchevanidze/hconf/actions/ghc@main

      - name: Upload Packages
        run: |
          stack sdist
          stack upload morpheus-graphql-tests
          stack upload morpheus-graphql-core
          stack upload morpheus-graphql-code-gen-utils
          stack upload morpheus-graphql-code-gen
          stack upload morpheus-graphql-app
          stack upload morpheus-graphql-client
          stack upload morpheus-graphql-subscriptions
          stack upload morpheus-graphql-server
          stack upload morpheus-graphql
        env:
          HACKAGE_USERNAME: ${{ secrets.HACKAGE_USERNAME }}
          HACKAGE_PASSWORD: ${{ secrets.HACKAGE_PASSWORD }}

      - name: Publish Release
        uses: nalchevanidze/relasy/actions/publish-release@0.1.10
        id: publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  upload_artifact:
    needs: publish_release
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            target: linux
          - os: macOS-latest
            target: mac-os
          - os: windows-latest
            target: windows
    name: Upload Artifact ${{ matrix.target }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: nalchevanidze/hconf/actions/ghc@main

      - name: Package
        uses: nalchevanidze/hconf/actions/pkg@main
        with:
          package: morpheus-graphql-code-gen
          executable: morpheus
          smoke_test: about

      - name: Upload Artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.publish_release.outputs.upload_url }}
          asset_path: morpheus.zip
          asset_name: morpheus-${{ matrix.target }}.zip
          asset_content_type: application/zip
