name: Publish Release

on:
  pull_request:
    types: [closed]

permissions:
  contents: write
  pull-requests: read

jobs:
  publish_release:
    if: ${{ github.base_ref == 'main' && startsWith(github.head_ref, 'release-') && github.event.pull_request.merged == true }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: nalchevanidze/hmm/actions/ghc@main

      - name: Upload Packages
        run: |
          stack sdist
          hmm upload morpheus-graphql
        env:
          HACKAGE_USERNAME: ${{ secrets.HACKAGE_USERNAME }}
          HACKAGE_PASSWORD: ${{ secrets.HACKAGE_PASSWORD }}

      - name: Publish GitHub Release (from merged release PR)
        uses: nalchevanidze/relasy/actions/publish-release@v1.1.1
        id: publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
