name: Upload Artifacts

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  upload_artifact:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            target: linux
          - os: macos-latest
            target: mac-os
          - os: windows-latest
            target: windows

    name: Upload Artifact ${{ matrix.target }}
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: nalchevanidze/hmm/actions/ghc@main

      - name: Package
        uses: nalchevanidze/hmm/actions/pkg@main
        with:
          package: morpheus-graphql-code-gen
          executable: morpheus
          smoke_test: about
          upload_url: ${{ github.event.release.upload_url }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
